* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    height: 100%;
    background-attachment: fixed;
    font-family: "Work Sans", sans-serif;

    min-height: 100vh;
}

.welcome-header {
}

.welcome-header h1,
h2,
h3 {
    color: white;
}

.welcome-header h3 {
    position: relative;
    font-size: 150%;
    word-spacing: 2px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 200;
}

.welcome-header h3:after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    height: 1px;
    transform: translateX(-50%);
    width: 70%;
    border-bottom: 1px solid white;
}

/****** LOGIN.JS  ******/

.login-page,
.registration-page {
    font-family: "Work Sans", sans-serif;
    min-height: 100vh;
}

.login-form,
.login-form *,
.register-form,
.register-form * {
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.login-form,
.register-form {
    width: 350px;
    max-width: 100%;
    margin-left: 900px;
    margin-top: 100px;
    border-radius: 5px;
    overflow: hidden;
    /* box-shadow: 0 0 5px white; */
}

.logo-container {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background: rgba(0, 0, 0, 0);
}

.logo-container img {
    width: 150px;
    height: 150px;
    color: #da9833;
}

.logo {
    vertical-align: middle;
    display: block;
    max-width: 125px;
    margin: 0 auto;
    /* border-radius: 50%; */
}

.login-form_content,
.register-form_content,
.edit-form_content {
    padding: 30px;
}

.login-form_header,
.register-form_header {
    margin-bottom: 15px;
    text-align: center;
    color: white;
}

.register-form_content h4,
p {
    margin-bottom: 15px;
    text-align: center;
    color: white;
}

.login-form_input,
.register-form_input,
.edit-form_input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    outline: none;
    transition: border-color 0.5s;
    cursor: text;
}

.login-form_input:focus,
.register-form_input:focus,
.edit-form_input:focus {
    border-color: red;
}

.login-form_input::placeholder,
.register-form_input::placeholder,
.edit-form_input::placeholder {
    color: white;
}

.login-form_btn,
.register-form_btn,
.edit-form_btn {
    padding: 10px;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    background: black;
    width: 100%;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    border-color: white;
    word-spacing: 2px;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.login-form_btn:hover,
.register-form_btn:hover,
.edit-form_btn:hover {
    background: black;
    color: red;
    border-color: red;
}
.login-form_btn:active,
.register-form_btn:active,
.edit-form_btn:active {
    background: red;
    color: black;
}

.login-form_footer,
.register-form_footer {
    text-align: center;
    padding: 10px;
}

.sign-up_link,
.log-in_link {
    font-size: 1em;
    color: white;
    text-decoration: none;
    padding: 10px;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.sign-up_link:hover,
.log-in_link:hover {
    font-size: 1em;
    color: red;
    text-decoration: none;
    padding: 10px;
}

/****** PROFILEPIC.JS ******/
.small-profile {
    width: 65px;
    height: 65px;
    color: black;
    position: relative;
    right: 20px;
    top: 5px;
    border-radius: 5px;
    border: 3px solid red;
    object-fit: cover;
}

.big-profile {
    width: 200px;
    height: 200px;
    color: black;
    position: relative;
    margin-left: 30px;
    border-radius: 50%;
    padding: 20px;
    border: 3px solid red;
    object-fit: cover;
}

.bio-editor {
    color: #da9833;
}

/****** APP.JS ******/

.app-container {
    min-height: 100vh;
    background-color: white;
}

.app-logo {
    width: 80px;
    height: 80px;
    margin-left: 20px;
}

.app-header {
    position: relative;
    height: 75px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.app-header:after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    height: 1px;
    transform: translateX(-50%);
    width: 80%;
    border-bottom: 1px solid black;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    /* float: right; */
    list-style: none;
    margin-top: 35px;
    margin-left: 650px;
}
.navbar li {
    display: inline-block;
    margin-left: 20px;
    padding-left: 20px;
}

.navbar li a:link,
.navbar li a:visited {
    padding: 8px 0;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.navbar li a:hover,
.navbar li a:active {
    border-bottom: 2px solid red;
}

.app-main {
    padding-top: 75px;
}

/****** UPLOADER.JS ******/

.uploader-modal {
    position: fixed;
    top: 30%;
    left: 35%;
    width: 400px;
    height: 300px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.9);
    border: 3px solid red;
    border-radius: 5px;
    color: red;
}

.uploader-modal h3 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
}

.uploader-modal h2 {
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upload-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    top: 25px;
}

.upload-file + label {
    width: 100px;
    padding: 5px;
    background-color: black;
    border: 1px solid red;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.upload-file:hover + label,
.upload-btn:hover {
    background-color: red;
    color: black;
}
.upload-btn {
    width: 100px;
    padding: 5px;
    color: white;
    background-color: black;
    border: 1px solid red;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.edit-btn {
    width: 200px;
    padding: 5px;
    color: white;
    background-color: #503df9;
    border: 1px solid #4d4142;
    border-radius: 5px;
    letter-spacing: 2px;
    margin-left: 18px;
    text-transform: uppercase;
    cursor: pointer;
}
/* ***** PROFILE.JS ***** */
.profile-name h1,
.profile-name h2,
.profile-name h3 {
    color: black;
    margin-bottom: 30px;
    padding: 10px;
}

.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.user-info {
    margin-left: 40px;
}

.profile-editor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bio-editor p {
    color: black;
}

.bio-editor textarea {
    width: 300px;
    height: 200px;
}
