* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
        url("/images/background2.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    background-attachment: fixed;
    /* display: grid; */
    min-height: 100vh;
    /* grid-template-rows: 90px 1fr 20px; */
}

.sn-logo {
    width: 100px;
    height: 100px;
}

.logo {
    width: 200px;
    height: 200px;
    text-align: right;
}

.text-box {
    position: absolute;
    width: 600px;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: #f9d5bb;
}

.text-box h1 {
    margin-top: 0;
    margin-bottom: 20px;
    word-spacing: 4px;
    font-size: 375%;
    font-weight: 300px;
    letter-spacing: 2px;
}

.text-box h3 {
    margin-top: 0;
    margin-bottom: 20px;
    word-spacing: 4px;
    font-size: 105%;
    font-weight: 200px;
    letter-spacing: 2px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    box-sizing: border-box;
    margin-top: 200px;
    margin-right: 100px;
    font-family: "Quicksand", sans-serif;
}

.registration-form input {
    width: 250px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #da9833;
    background: white;
    color: #c36a2d;
    outline: none;
    transition: border-color 0.5s;
    cursor: text;
}

.submit-btn {
    padding: 10px;
    color: white;
    font-weight: bold;
    background: #da9833;
    width: 275px;
    border: none;
    outline: none;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #f59542;
    color: black;
}

.register-form_footer {
    text-align: center;
    margin-top: 10px;
}
.login-link {
    color: #da9833;
    text-align: center;
    padding-right: 60px;
}

/****** PROFILEPIC.JS ******/
.profile-pic {
    width: 100px;
    height: 100px;
    color: #da9833;
    position: absolute;
    right: 0;
    top: 0;
}
.profile-pic img {
    width: 75px;
    height: 75px;
    color: #da9833;
    position: relative;
    right: 10px;
    top: 10px;
    border-radius: 50%;
}

.profile-pic h2 {
    top: 20px;
    right: 100px;
    font-size: 14px;
    color: black;
}

.profilepic-main img {
    border-radius: 5px;
    width: 200px;
    height: 200px;
    left: 10px;
    position: absolute;
}

/****** APP.JS ******/

.app-container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 90px 1fr 20px;
}

.app-logo {
    width: 100px;
    height: 100px;
    left: 10px;
    /* position: absolute; */
}

.app-header {
    height: 125px;
    background: #da9833;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 100%;
}

/****** UPLOADER.JS ******/

/* .upload-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    top: 25px;
}

.upload-file + label {
    width: 100px;
    padding: 5px;
    background-color: #ce792e;
    border: 1px solid #b6743b;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
} */

/* .upload-file:hover + label {
    background-color: #f59542;
    color: black;
} */
.upload-btn {
    width: 100px;
    padding: 5px;
    color: white;
    background-color: #ce792e;
    border: 1px solid #b6743b;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.uploader-modal {
    position: fixed;
    top: 30%;
    left: 35%;
    width: 400px;
    height: 300px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid #b6743b;
    border-radius: 5px;
    color: #ce792e;
}

.uploader-modal h3 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.uploader-modal h2 {
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
